<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G&G AdminPage</title>
    <div th:include="~{/header}"></div>
</head>
<body>
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-sm-15 col-md-10 col-lg-6 col-xl-1 col-xxl-9 g-0">
            <div class="container text-bg-primary row gx-0">
                <h4 class="col-sm-7 ">G&G試験管理サイト</h4>
                <div class="col-sm-3 d-flex align-items-center justify-content-end ">
                    <h6 class="text-center m-0">最終ログイン：2023/08/15</h6>
                </div>
                <div class="col-sm-2 d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-primary btn-block" onclick="logout()">ログアウト</button>
                </div>
            </div>
            <div class=" mb-1 row">
                <div class="col-sm-2  ">応募者状況管理</div>
                <div class="col-sm-5">TOP　＞　問題管理　＞　問題一覧</div>
            </div>
            <div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="https://homzzang.com/b/html-58" >試験一覧</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="#">試験登録</a>
                    </li>
                </ul>
                <div>問題管理</div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="https://homzzang.com/b/html-58" >試験一覧</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="#">試験登録</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>

<script>
        function logout() {
            // confirm() 대화상자를 표시하여 사용자로부터 확인 여부를 받음
            var logoutResult = confirm("ログアウトしますか？");
            if (logoutResult) {
                // 사용자가 "Yes"를 눌렀을 경우
                window.location.href = "http://localhost:8080/GOMS_EXAM/login";
            } else {
            }
        }
</script>
<div th:include="~{/footer}"></div>
</body>
</html>